# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.sublime-workspace
*.sublime-project

# build
dist

# IDEs
.vscode

# Examples
examples/emojis-example/node_modules
examples/emojis-example/public
examples/emojis-example/src/*
examples/emojis-example/package*
!examples/emojis-example/src/Slate.js

examples/urls-example/node_modules
examples/urls-example/public
examples/urls-example/src/*
examples/urls-example/package*
!examples/urls-example/src/Slate.js

examples/multiple-transforms-example/node_modules
examples/multiple-transforms-example/public
examples/multiple-transforms-example/src/*
examples/multiple-transforms-example/package*
!examples/multiple-transforms-example/src/Slate.js
