.app {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limits {
  border: 1px dashed red;
  padding: 10px;
  min-width: 50px;
}
